# ===================================
# Redis PersistentVolumeClaim
# ===================================
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
  labels:
    app.kubernetes.io/name: realtime-poll
    app.kubernetes.io/component: redis
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  # Uncomment to specify StorageClass
  # storageClassName: nutanix-volume
